body {
    background-color: #e3f1f1;
}

.main-title {
    font-family: "Dela Gothic One", serif;
    font-weight: 400;
    font-style: normal;
    color: #ee6856;
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding: 0 20px;
}

