<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<h1>О нас</h1>
<p>Маленький книжный интернет-магазинчик, где виртуальные полки ломятся от книг, которые вы добавите в корзину, но никогда не купите. Здесь каждая книга — это история, а каждый заказ — квест: то доставка задержится, то курьер позвонит в самый неподходящий момент. Ассортимент — от мировых бестселлеров до книг, которые никто не читал, но все хвалят, чтобы выглядеть умнее. Наш сайт — это лабиринт, где вы обязательно найдете то, что не искали, но вдруг захотите. А еще у нас есть раздел «Акции», где книги стоят как три чашки кофе, но вы все равно подумаете: «Может, потом?» Добро пожаловать в место, где ваша любовь к чтению борется с ленью доставить посылку из пункта выдачи!</p>
{% endblock %}