{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Книгомания</title>
  <head>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'includes/header.css' %}">
</head>

</head>
<body>
  {% include 'includes/header.html' %}
  <main>
  {% block content %}
  {% endblock %}
  </main>
  {% include 'includes/footer.html' %}
</body>
</html>
